<style type="text/css">
.topcorner{
   position:absolute;
   top:0;
   right:0;
   font-size: 50pt;
   width: 600px;
}

 body{
 background-color: aquamarine;
    }
#piechart{
    width: 600px;
    height: 300px;
}
</style>

